* {
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
}

.timer {
  margin: 50px;
  padding: 50px;
}
h1 {
  color: rgb(32, 23, 23);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.start {
  background-color: lightgreen;
}

.stop {
  background-color: red;
}

.reset {
  background-color: lightseagreen;
}
